html {
    
background-image: url("../images/1.jpg") ;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-position: fixed;
}
.menu{
    
    padding-left: 10px;
    
    width: device-width;
    height: 50px;
    overflow: hidden;
    background-image: url('../images/logo-01.png');
    background-color: rgba(50,73,94,0.7);
    background-size: 50px;
    background-repeat: no-repeat;
    }


ul {
    list-style-type: none;
    margin: 0;
    
    overflow: hidden;
    
    
}

li {
    float: left;
}

li a {
   font-family: Verdana;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    border: black;
    background-color: rgba(60,103,100,0.7);
   
}

h1{
    display: inline-table;
    float: left;
    text-align: center;
    margin-top: 0px;
    margin-top: 0px;
    padding: 5px;
   
    
}
.right{
	float: right;
}

body {
    margin: 0;

}
.info{
    
    width: 1000px;
    height: 100px;
    margin-top: 10px;
    background-color: #13B7DA;
    text-align: center;
    border-radius: 15px;
    
}
.info h1{
    
    
    padding:30px 0px 0px 35%;
    font:40px Helvetica;
    color:#FFF;
    text-transform:uppercase;
    text-align: center;
    
    margin:0px;
    font-weight: bold;
     
    
  }
  
 
  .container {
    
    width: 990px;
    height: 10px;
   margin-top: 100px; 
    text-align: center;
    
    
    margin: 0 auto;
    margin-top: 0px;
}


#full{
    margin-left: 200px;
    width: 1000px;
   height: 1270px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 15px;
   
}
input[type="text"]{
    margin-top: 10px;
    height: 45px;
    width: 500px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color:#FFFFFF;
    border-color: #141312;
    padding-left: 20px;
    border-radius: 5px;
}
input[type="number"]{
    margin-top: 10px;
    height: 45px;
    width: 500px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color:#FFFFFF;
    border-color: #141312;
    padding-left: 20px;
    border-radius: 5px;
}

input[type="password"]{
    height: 45px;
    width: 500px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color:#FFFFFF;
    border-color: #121110;
    padding-left: 20px;
    border-radius: 5px;
}
select{
    height: 45px;
    width: 500px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color:#FFFFFF;
    border: 2px solid black;
    border-color: #121110;
    padding-left: 20px;
    border-radius: 5px;
}
.btn-login{
    
    padding: 15px 25px;
    color: #fff;
    background-color: #2ECC71;
    border: none;
    border-radius: 10px;
    border-bottom: 4px solid #27AE5F;
}

.btn-login:hover{
    padding: 15px 45px;
  background-color: #2ECC71;
  border-bottom: 10px solid #27AE5F;
  border-radius: 20px;
  
}

p {
    text-align: center;
    font-size: 20px;
    
}