html {
    
background-image: url() ;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.menu{
    
    padding-left: 10px;
    
    width: device-width;
    height: 50px;
    overflow: hidden;
    background-image: url('../images/logo-01.png');
    background-color: rgba(50,73,94,0.7);
    background-size: 50px;
    background-repeat: no-repeat;
    }

    .main{
        text-align: center;
        width:1150px;
    }

ul {
    list-style-type: none;
    margin: 0;
    
    overflow: hidden;
    
}

li {
    float: left;
}



li a {
   font-family: Verdana;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    border: black;
    background-color: rgba(60,103,100,0.7);
   
}


h1{
    display: inline-table;
    float: left;
    text-align: center;
    margin-top: 0px;
    margin-top: 0px;
    padding: 5px;
   
    
}
.right{
	float: right;
}

body {
    margin: 0;
    width: device-width;
}

h1{
        display: inline-table;
        float: left;
        text-align: center;
        margin-top: 0px;
        margin-top: 0px;
        padding: 5px;
       
}

#packages a:link {
    text-decoration: none;
    
}

#packages a:hover {
    text-decoration: none;
    color: #065159;
}

#packages a:visited {
    text-decoration: none;
}

#packages a:active {
    text-decoration: none;
} 


.heading p{
    padding-top: 30px;
    text-align: center;
    font-family: 'Architects Daughter';
    font-size: 70px;
    color: #080F4A;
}


.describe p{
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    font-family: 'Athiti';
    font-size: 30px;
    text-align: center;
    
}

#packages p{
    padding-top: 30px;
    text-align: center;
    font-family: 'Architects Daughter';
    font-size: 45px;

}


#packages{
    padding-left: 150px;
    padding-top: 150px;
    text-align: center;
}


    #packages .pack {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    
  }


  #packages label {
    display: block;
    text-align: center;
    margin: 0 0.2em;
    color: #05092B;
    display: block;
    position: relative;
    float: left;
    width: 60%;
    height: 75px;
    padding-left: 45px;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;

    font-weight: 300;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
  }


  #packages input[type="radio"] {
    position: absolute;
    border: 0px;
    display: block;
    margin: 0.5em;
   
    color: #091041;
    position: relative;
    width: 100%;
    height: 4em;
    text-align: center;
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Chrome, Safari, Opera */
    -moz-transform:scale(2);
    transform: scale(2);
  }

 
  #packages img{
width: 205px;
height: 205px;
padding-left: 20px;
padding-right: 0px;
border: none;
  }

  #packages p{
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 45px;

} 

  #addons .add {
    display: inline-block;
    padding-left: 60px;
    padding-right: 0px;
    text-align: right;
  }

  
    
  #addons label {
    display: block;
    text-align: center;
    margin: 0 0.2em;
    color: #121E72;
    display: block;
    position: relative;
    float: left;
    width: 60%;
    height: 75px;
    padding-left: 90px;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
  }



  #addons input[type="checkbox"] {
   
    display: block;
    margin: 0.5em;
   
    color: #20B2F2;
    
    width: 98%;
    height: 4em;

    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Chrome, Safari, Opera */
    -moz-transform:scale(2);
    transform: scale(2);
  }



#addons img{
    width: 450px;
    height: 320px;
    padding-left: 20px;
    padding-right: 0px;
    border: solid;
    border-color:#121E72; 
    border-radius: 9px;
    border-width: 5px;


}

  
#addons p{
    padding-top: 30px;
    padding-left: 80px;
    padding-bottom: 40px;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 45px;

} 


.btn-login{
    
    padding: 15px 25px;
    color: #fff;
    background-color: #121E72; 
    border: none;
    border-radius: 10px;
    border-bottom: 4px solid #121E72; 
}


.btn-login:hover{
  padding: 15px 45px;
  background-color: #1D31C1;
  border-bottom: 10px solid #1D31C1;
  border-radius: 20px;
  
}